<!DOCTYPE html>
<html lang="en">
<head>
<!-- Required meta tags -->
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <!--CSS-->
  <link href="styles/index/style.css" rel="stylesheet">
 
  <title>Document</title>
</head>
<body class="container">
  <h1>Teste</h1>
</body>
</html>